<%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>

<div class="box">
    <% newListItems.forEach(function(newListItem) { %>
        <form action="/delete" method="post">

            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= newListItem._id %>" onchange="this.form.submit()">
                    <p><%= newListItem.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
        <% })%>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem"  id="" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>" >+</button>
        </form>
        <hr>
        <div id="create_list">
        <form class="item" action="/newList" method="post">
            <input type="text" name="newItem"  id="" placeholder="Create or view another list" autocomplete="off">
            <button type="submit" >+</button>
        </form>
        </div>
</div>

    
<%- include("footer") -%>

